<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://triforkprojectappservice.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/84e19429-43a7-4889-bde8-f860630b69a1/resourceGroups/ReactService101010/providers/Microsoft.ContainerRegistry/registries/reactservice</ContainerResourceId>
    <ContainerResourceName>reactservice</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>reactservice.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/84e19429-43a7-4889-bde8-f860630b69a1/resourcegroups/ReactService101010/providers/Microsoft.Web/sites/TriforkprojectAppService</ResourceId>
    <ResourceGroup>ReactService101010</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://triforkprojectappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1c759c89-2909-4aa4-a5af-62b12cbe169d</ProjectGuid>
  </PropertyGroup>
</Project>